fastapi
uvicorn
pymongo
sentence-transformers
numpy
python-dotenv
pydantic
FlagEmbedding
requests
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-ollama
pypdf
psycopg2-binary
pg8000
pgvector
python-multipart
beautifulsoup4
pandas
openpyxl
docx2txt
unstructured
langchain-google-genai
pyjwt
bcrypt
